/*Reset margin and padding*/
* {
    margin: 0;
    padding: 0;
}

/*Contains the header and the presentations*/
#homepage-container-1 {
    display: block;
    width: 100%;
    transition: -webkit-filter ease-in 1s;
}

/*5px blur for the element and its children, default is 0px*/
.blur {
    -webkit-filter: blur(5px);
}

/*Contains the title and the subtitle*/
#homepage-header {
    display: block;
    width: 100%;
    padding: 1% 0;
}

/*Contains the title as an image to center*/
#homepage-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

/*Contains an additional information to center, with the title font*/
#homepage-subtitle {
    display: block;
    margin: 1% 15%;

    font-family: "Trajan Pro", Candara, sans-serif;
    font-size: 3em;
    text-align: center;
}

/*Presentations are contained in a table, with the basic font*/
#homepage-presentations {
    display: table;
    width: 100%;
    border-spacing: 0em 1.5em;
    padding: 1% 0;

    font-family: Candara, sans-serif;
    font-size: 1.5em;
}

/*Each row of the table contains two table-cell to create to columns of organized text*/
.presentation-row {
    display: table-row;
    width: 100%;
}

/*French presentation is located in the left column*/
.presentation-french {
    display: table-cell;
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
}

/*English presentation is located in the right column*/
.presentation-english {
    display: table-cell;
    width: 50%;
    padding-left: 5%;
    padding-right: 10%;
}

/*Contains the ring icon to launch the game, has to be thin to handle the click on both image and text it contains*/
#homepage-container-2 {
    position: relative;
    z-index: 2;

    display: block;
    width: 15%;
    margin: 0 auto;
}

/*Show the user he can click this element*/
#homepage-container-2:hover {
    cursor: pointer;
}

/*Image of the one ring which has to be resized and centered*/
#ring {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;

    transition: -webkit-filter ease-in 1s;
}

/*0.7 saturate for the element and its children, default is 1*/
.saturate {
    -webkit-filter: saturate(0.7);
}

/*70% brightness for the element and its children, default is 100%*/
.brightness {
    -webkit-filter: brightness(70%);
}

/*Additional message to the image which has to be centered, with the special LOTR font*/
#ring-message {
    display: block;

    font-family: ringbearer, "Trajan Pro", Candara, sans-serif;
    font-size: 2em;
    text-align: center;

    transition: color ease-in 1s;
}

/*Red font color when the user hover the element*/
.ring-message-red {
    color: darkred;
}

/*Black font color when the user doesn't hover the element*/
.ring-message-black {
    color: black;
}

/*Contains all the content that remains (carousel, story, about the project, about the author)*/
#homepage-container-3 {
    width: 100%;
    transition: -webkit-filter ease-in 1s;
}

/*Progress notification is centered, small and italic*/
#progress-info {
    display: block;
    padding: 2% 10%;

    font-family: Candara, sans-serif;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;

    transition: -webkit-filter ease-in 1s;
}

/* Fixed height to encapsulate absolute elements */
#carousel-container {
    display: table;
    width: 100%;
    height: 350px;
    padding: 2% 0;
}

/* The row is divided in three cells, two to contain the arrows and one to contain the carousel */
#carousel-container-row {
    display: table-row;
    width: 100%;
    height: 100%;
}

/* Define the width of the cell and and push the arrow to the right of the cell */
.left-arrow {
    display: table-cell;
    width: 15%;
    height: 100%;

    vertical-align: middle;
    text-align: right;
}

/* Define the width of the cell and push the arrow to the left of the cell */
.right-arrow {
    display: table-cell;
    width: 15%;
    height: 100%;

    vertical-align: middle;
    text-align: left;
}

/* Height should grow proportionally to the fixed height but it does random stuff */
.carousel-arrow {
    height: 60%;
    cursor: pointer;
}

/* Define the width of the carousel cell and apply relative position */
.carousel {
    position: relative;

    display: table-cell;
    width: 70%;
    height: 100%;

    text-align: center;
}

/* Define position type and width for each preview, and define transition for CSS transitions */
.preview {
    position: absolute;

    display: block;
    width: 25%;
    height: 100%;

    transition: all 1s ease;
}

/* The first preview on the left isn't visible, is 90deg rotated and is 2 times smaller */
.waiting-left {
    left: -5%;
    opacity: 0;
    -webkit-transform: perspective(1000px) rotateY(-90deg) scale(0.5);
    -moz-transform: perspective(1000px) rotateY(-90deg) scale(0.5);
    -ms-transform: perspective(1000px) rotateY(-90deg) scale(0.5);
    -o-transform: perspective(1000px) rotateY(-90deg) scale(0.5);
    transform: perspective(1000px) rotateY(-90deg) scale(0.5);
}

/* The second preview on the left is quite visible, is 45deg rotated and is 1.11 time smaller */
.left {
    left: 5%;
    opacity: 0.7;
    -webkit-transform: perspective(1000px) rotateY(-45deg) scale(0.9);
    -moz-transform: perspective(1000px) rotateY(-45deg) scale(0.9);
    -ms-transform: perspective(1000px) rotateY(-45deg) scale(0.9);
    -o-transform: perspective(1000px) rotateY(-45deg) scale(0.9);
    transform: perspective(1000px) rotateY(-45deg) scale(0.9);
}

/* The third preview is totally visible, no rotated and is 1.1 time greater */
.center {
    left: 37.5%;
    opacity: 1;
    -webkit-transform: perspective(1000px) scale(1.1);
    -moz-transform: perspective(1000px) scale(1.1);
    -ms-transform: perspective(1000px) scale(1.1);
    -o-transform: perspective(1000px) scale(1.1);
    transform: perspective(1000px) scale(1.1);
}

/* The fourth preview is the opposite side of the second preview */
.right {
    left: 70%;
    opacity: 0.7;
    -webkit-transform: perspective(1000px) rotateY(45deg) scale(0.9);
    -moz-transform: perspective(1000px) rotateY(45deg) scale(0.9);
    -ms-transform: perspective(1000px) rotateY(45deg) scale(0.9);
    -o-transform: perspective(1000px) rotateY(45deg) scale(0.9);
    transform: perspective(1000px) rotateY(45deg) scale(0.9);
}

/* The fifth and last preview is the opposite side of the first one */
.waiting-right {
    left: 80%;
    opacity: 0;
    -webkit-transform: perspective(1000px) rotateY(90deg) scale(0.5);
    -moz-transform: perspective(1000px) rotateY(90deg) scale(0.5);
    -ms-transform: perspective(1000px) rotateY(90deg) scale(0.5);
    -o-transform: perspective(1000px) rotateY(90deg) scale(0.5);
    transform: perspective(1000px) rotateY(90deg) scale(0.5);
}

/* Date is positioned above the screenshot and displays a maximum of two lines of text */
.preview-date {
    position: absolute;
    bottom: 85%;
    left: 0;

    display: block;
    width: 100%;
    max-height: 2.5em;

    font-family: Candara, sans-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;

    overflow: hidden;
}

/* The screenshot is centered in the preview block and has a transparent black border */
.preview-image {
    position: absolute;
    top: 20%;
    left: 0;

    width: 97%;
    width: calc(100% - 10px);
    height: 200px;
    height: calc(60% - 10px);

    border: 5px solid rgba(0, 0, 0, 0.7);

    cursor: pointer;
}

/* Name is positioned below the screenshot and displays a maximum of two lines of text */
.preview-name {
    position: absolute;
    top: 85%;
    left: 0;

    display: block;
    width: 100%;
    max-height: 2.5em;

    font-family: Candara, sans-serif;
    font-size: 1.5em;
    font-weight: bold;

    overflow: hidden;
}

/*An image to make a simple separation between two parts of the website*/
.black-speech {
    display: block;
    margin: 2% auto;
    max-width: 100%;
    height: auto;
}

/*Centered and title font for the element*/
.title {
    display: block;
    margin: 1% 15%;

    font-family: "Trajan Pro", Candara, sans-serif;
    font-size: 3em;
    text-align: center;
}

/* Centered and bigger standard font for the element */
.subtitle {
    display: block;
    margin: 1% 10%;

    font-family: Candara, sans-serif;
    font-size: 2em;
    //font-weight: normal;
    text-align: center;
}

/* Margin top and bottom and standard font for the element */
.content {
    display: block;
    margin: 1% 0;

    font-family: Candara, sans-serif;
}

/* The story is simply contained in a block filled with text */
#story {
    display: block;
    padding: 2% 10%;

    font-size: 1.5em;
    text-align: center;
}

/* Each technology is simply contained in a block filled with text and floating image */
#technologies {
    display: block;

    font-size: 1.5em;
}

/* Padding top and bottom for the element */
.technology {
    display: block;
    padding: 2% 10%;
}

/* Angular logo is floating left */
#angular-logo {
    float: left;

    display: block;
    padding-right: 2%;
    padding-bottom: 1%;
    max-width: 20%;
    height: auto;
}

/* While Three logo is floating right */
#three-logo {
    float: right;

    display: block;
    padding-left: 2%;
    padding-bottom: 1%;
    max-width: 20%;
    height: auto;
}

/* Credits consist in a small text introduction and an angular list */
#credits {
    display: block;
    padding: 2% 10%;

    font-size: 1.5em;
}

/* Angular list of credits, reduce the size of the block */
#credit-list {
    display: block;
    padding: 1% 5%;
    padding-bottom: 0;

    font-size: 0.95em;
}

/* Space list items to prevent them to sticking each other */
.credit-item {
    padding: 0.5% 0;
}

/* Info about the author is simply contained in a block filled with a float div on the left and surrounding text */
#about-me {
    display: block;
    padding: 2% 10%;

    font-size: 1.5em;
}

/* Picture and contact div is floating left */
#profile-picture {
    float: left;

    display: block;
    width: 25%;
}

/* Create a circle as a limit for the element */
.rounded-image {
    display: block;
    margin: 2% auto;
    max-width: 60%;
    height: auto;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    overflow: hidden;
}

/* Italic and centered with smaller standard font for the element */
.profile-note {
    display: block;
    padding: 2% 10%;
    text-align: center;
    font-style: italic;
    font-size: 0.5em;
}

/* Elements are centered inside */
#profile-contact {
    display: block;
    padding: 2% 5%;

    text-align: center;
}

/* Bold with bigger standard font for the element */
#contact-title {
    display: block;
    padding: 2% 5%;

    font-size: 1.2em;
    font-weight: bold;

    overflow: hidden;
}

/* Padding and overflow for the element */
.contact {
    display: block;
    padding: 2% 2%;

    overflow: hidden;
}

/* The icon should be inline and proportional to the mail link */
#contact-icon {
    display: inline-block;
    margin-right: 3%;
    max-width: 9%;
    height: auto;

    vertical-align: middle;
}

/* Mail link should be inline with smaller standad font */
#mail-link {
    display: inline-block;

    font-size: 0.8em;
    vertical-align: middle;
}

/* Short description is contained in a simple block */
#profile-content {
    display: block;
    padding: 2% 0;
}

/* Links to Linkedin and Github are centered on one line */
#links {
    padding: 2% 0;
    text-align: center;
}

/* Links are spaced each other */
.link {
    margin: 0 15%;
    max-width: 10%;
}

/* The icon and the link should share the same width */
.icon {
    max-width: 100%;
    height: auto;
}

/*Cover the whole page with a black transparent block*/
#shadow {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    display: block;
    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0.97;

    transition: opacity ease-in 1s;
}

/*Hide the shadow block setting its opacity property to 0*/
#shadow.ng-hide {
    opacity: 0;
}



/*
.center-add {
    transition: all 1s ease;
}

.center, .center.add.center-add-active {
    left: 37.5%;
    opacity: 1;
    -webkit-transform: perspective(1000px) scale(1.1);
    -moz-transform: perspective(1000px) scale(1.1);
    -ms-transform: perspective(1000px) scale(1.1);
    -o-transform: perspective(1000px) scale(1.1);
    transform: perspective(1000px) scale(1.1);
}

.left-add {
    transition: all 1s ease;
}

.left, .left-add.left-add-active {
    left: 5%;
    opacity: 0.7;
    -webkit-transform: perspective(1000px) rotateY(-45deg) scale(0.9);
    -moz-transform: perspective(1000px) rotateY(-45deg) scale(0.9);
    -ms-transform: perspective(1000px) rotateY(-45deg) scale(0.9);
    -o-transform: perspective(1000px) rotateY(-45deg) scale(0.9);
    transform: perspective(1000px) rotateY(-45deg) scale(0.9);
}

.right-add {
    transition: all 1s ease;
}

.right, .right-add.right-add-active {
    left: 70%;
    opacity: 0.7;
    -webkit-transform: perspective(1000px) rotateY(45deg) scale(0.9);
    -moz-transform: perspective(1000px) rotateY(45deg) scale(0.9);
    -ms-transform: perspective(1000px) rotateY(45deg) scale(0.9);
    -o-transform: perspective(1000px) rotateY(45deg) scale(0.9);
    transform: perspective(1000px) rotateY(45deg) scale(0.9);
}

.waiting-left-add {
    transition: all 1s ease;
}

.waiting-left, .waiting-left-add.waiting-left-add-active {
    left: -5%;
    opacity: 0;
    -webkit-transform: perspective(1000px) rotateY(-90deg) scale(0.5);
    -moz-transform: perspective(1000px) rotateY(-90deg) scale(0.5);
    -ms-transform: perspective(1000px) rotateY(-90deg) scale(0.5);
    -o-transform: perspective(1000px) rotateY(-90deg) scale(0.5);
    transform: perspective(1000px) rotateY(-90deg) scale(0.5);
}

.waiting-right-add {
    transition: all 1s ease;
}

.waiting-right, .waiting-right-add.waiting-right-add-active {
    left: 80%;
    opacity: 0;
    -webkit-transform: perspective(1000px) rotateY(90deg) scale(0.5);
    -moz-transform: perspective(1000px) rotateY(90deg) scale(0.5);
    -ms-transform: perspective(1000px) rotateY(90deg) scale(0.5);
    -o-transform: perspective(1000px) rotateY(90deg) scale(0.5);
    transform: perspective(1000px) rotateY(90deg) scale(0.5);
}
*/

