<div id="homepage-container-1" ng-class="{'blur': isShadowVisible}">

    <div id="homepage-header">
        <img src="resources/textures/waroftheringtitle.png" id="homepage-title"/>
        <h2 id="homepage-subtitle">Modeling the game using AngularJS + ThreeJS !</h2>
    </div>

    <div id="homepage-presentations">

        <div class="presentation-row">
            <div class="presentation-french">
                <p>
                    Bienvenue sur ma <s>modeste</s> <i>fantastique</i> petite application web !
                </p>
            </div>
            <div class="presentation-english">
                Welcome to my <s>humble</s> <i>fantastic</i> little web application !
            </div>
        </div>

        <div class="presentation-row">
            <div class="presentation-french">
                Mon objectif est de reproduire en ligne un jeu de plateau complexe dénommé "La Guerre de l'Anneau" qui se base bien évidemment sur la célèbre œuvre de J.R.R Tolkien, <u>Le Seigneur des Anneaux</u>.
            </div>
            <div class="presentation-english">
                My goal is to reproduce online a complex board game called "War Of The Ring" ("La Guerre de l'Anneau" in french) which is obviously based on the famous J.R.R Tolkien's book, <u>The Lord Of The Rings</u>.
            </div>
        </div>

        <div class="presentation-row">
            <div class="presentation-french">
                Pour mener à bien ce beau projet, j'ai décidé d'exploiter conjointement les deux technologies que je souhaite maîtriser : AngularJS et ThreeJS.
                J'ai la certitude que leur cohabitation dans un même projet m'aidera à en apprendre davantage sur leurs mécanismes
                et me confrontera à de nombreux problèmes pratiques que je n'aurais jamais rencontrés en suivant un simple tutoriel.
            </div>
            <div class="presentation-english">
                To complete this beautiful project, I decided to mix the two technologies I want to learn : AngularJS and ThreeJS.
                I'm sure that their cohabitation in the same project will help me to learn more about their mecanisms,
                confronting myself to a lot of practical issues I would never encounter following an easy tutorial.
            </div>
        </div>

        <div class="presentation-row">
            <div class="presentation-french">
                Sans plus tarder, je vous laisse découvrir par vous-même le résultat ! :)
            </div>
            <div class="presentation-english">
                Without further delay, I invite you to take a look by yourself ! :)
            </div>
        </div>

    </div>

</div>

<div id="homepage-container-2"
     ng-mouseenter="toggleShadow();"
     ng-mouseleave="toggleShadow();"
     ng-click="launchGame();">

    <img src="resources/textures/onering.png" id="ring" ng-class="{'saturate': !isShadowVisible, 'brightness': !isShadowVisible}"/>
    <p id="ring-message" ng-class="{'ring-message-black': !isShadowVisible, 'ring-message-red': isShadowVisible}">
        Surrender to temptation
    </p>

</div>

<div id="homepage-container-3" ng-class="{'blur': isShadowVisible}">

    <img src="resources/textures/blackspeech.png" class="black-speech"/>

    <h3 class="title">More about the project</h3>

    <div id="about-project-intro">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis turpis augue, dignissim vel aliquam a, vehicula id risus.
            Cras in lorem vitae enim maximus finibus. Pellentesque quis pellentesque ipsum.
            Integer sed diam eget elit pretium mattis ac eu ligula.
        </p>
    </div>

    <div id="technologies">

        <div class="technology-row">
            <div class="technology-logo">
                <a href="https://angularjs.org/" target="_blank"><img src="resources/textures/angular-icon.png" class="icon"/></a>
            </div>
            <div class="technology-info">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis turpis augue, dignissim vel aliquam a, vehicula id risus.
                    Cras in lorem vitae enim maximus finibus. Pellentesque quis pellentesque ipsum.
                    Integer sed diam eget elit pretium mattis ac eu ligula.
                </p>
            </div>
        </div>

        <div class="technology-row">
            <div class="technology-logo">
                <a href="http://threejs.org/" target="_blank"><img src="resources/textures/webgl-three-icon.png" class="icon"/></a>
            </div>
            <div class="technology-info">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis turpis augue, dignissim vel aliquam a, vehicula id risus.
                    Cras in lorem vitae enim maximus finibus. Pellentesque quis pellentesque ipsum.
                    Integer sed diam eget elit pretium mattis ac eu ligula.
                </p>
            </div>
        </div>

    </div>

    <img src="resources/textures/blackspeech.png" class="black-speech"/>

    <h3 id="credits-title" class="title">Credits</h3>

    <div id="credits">
        <p>
            Bien que ce projet ne soit pas à but lucratif,
            j'aimerais remercier les auteurs des différentes textures
            que j'ai pu emprunter sur la toile ainsi que ceux dont les travaux m'ont inspirés :
        </p>
        <ul id="credit-list">
            <li ng-repeat="c in credits">
                <a href="{{c.link}}" target="_blank">{{c.author}}</a>, {{c.thanks}}.
            </li>
            <li>
                MrDoob, auteur de la bibliothèque ThreeJS, pour son phénoménal travail, sa doc et ses nombreux exemples.
            </li>
            <li>
                MrStemstosky, contriuteur de la bibliothèque ThreeJS, pour ses innombrables exemples d'utilisation de la bibliothèque, tous aussi ingénieusement construits les uns que les autres.
                <!-- Utiliser un ng-repeat!!-->
            </li>
            <li>
                Etc. Utiliser ngRepeat ici. Penser à mettre des liens si possible.
            </li>
        </ul>
    </div>

    <img src="resources/textures/blackspeech.png" class="black-speech"/>

    <h3 id="about-me-title" class="title">About me</h3>

    <div id="about-me">
        <img src=""/>
        <p>Prénom. Nom. Age. Strasbourg ?</p>
        <p>Contact: faire linkedin, mail.</p>
        <p>Brève description de ma philosophie</p>
    </div>

        <!--<b>Diversité</b>. C'est le mot qui me caractérise le plus. Quel que soit le domaine, je veux toujours toucher à tout.
        Qui peut le plus, peut le moins.
        Photo, nom et prénom. Strasbourg ?
        Contact: LinkedIn à créer et mettre à jour, mail.-->

</div>




<div id="shadow" ng-show="isShadowVisible"></div>



