<div id="ui-container">
    <label>Water Texture :
        <select ng-model="waterTexture"
                ng-options="t.path as t.name for t in waterTextures">
        </select>
    </label>
    <label>Land Texture :
        <select ng-model="landTexture"
                ng-options="t.path as t.name for t in landTextures">
        </select>
    </label>
    <label>Bump scale :
        <input type="range" min="0" max="100" ng-model="mountainBumpScale" />
    </label>
</div>

<div nb-webgl
     water-texture="waterTexture"
     land-texture="landTexture"
     mountain-bump-scale="mountainBumpScale">
</div>



