<!--<div id="ui-container">
    <label>Water Texture :
        <select ng-model="oceanTexture"
                ng-options="t.path as t.name for t in oceanTextures">
        </select>
    </label>
    <label>Land Texture :
        <select ng-model="landTexture"
                ng-options="t.path as t.name for t in landTextures">
        </select>
    </label>
    <label>Bump scale :
        <input type="range" min="0" max="100" ng-model="mountainBumpScale" />
    </label>
</div>
-->
<div nb-webgl
     ocean-texture="oceanTexture"
     land-texture="landTexture"
     mountain-bump-scale="mountainBumpScale">
</div>



